@model WebApplication2.Models.Item

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Item</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Code" />
            <div class="form-group">
                <label asp-for="NameInArabic" class="control-label"></label>
                <input asp-for="NameInArabic" class="form-control" />
                <span asp-validation-for="NameInArabic" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NameInEnglish" class="control-label"></label>
                <input asp-for="NameInEnglish" class="form-control" />
                <span asp-validation-for="NameInEnglish" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ItemDescription" class="control-label"></label>
                <input asp-for="ItemDescription" class="form-control" />
                <span asp-validation-for="ItemDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ItemPrice" class="control-label"></label>
                <input asp-for="ItemPrice" class="form-control" />
                <span asp-validation-for="ItemPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateCreated" class="control-label"></label>
                <input asp-for="DateCreated" class="form-control" />
                <span asp-validation-for="DateCreated" class="text-danger"></span>
            </div>
            <div>
                <input type="file" asp-for="ItemImage" onchange="loadFile(event)" />
                <img id="myImg" height="200" />
                <span asp-validation-for="ItemImage" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="Warehouse"></label>
                <select asp-for="Warehouse" class="form-control">
                    <option value="0">Select warehouse</option>
                    <option value="1">Main</option>
                    <option value="2">Secondary</option>
                </select>
                <span asp-validation-for="Warehouse" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                &nbsp;
                <a asp-action="Index" class="btn btn-warning">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial.cshtml" />

    <!--
        now some javascript for handing image input
        (second trial)
    -->
    <script>
        var loadFile = function (event) {
            var reader = new FileReader();
            reader.onload = function () {
                var myImg = document.getElementById('myImg');
                myImg.src = reader.result;
            }
            reader.readAsDataURL(event.target.files[0]);
        }
    </script>
}
